<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%#= image_tag "logo.png" %> 
	  
      <%= yield %>

      <%= link_to "Home","/"%><br>
      <%= link_to "projects","/projects"%><br>
      <%= link_to "projects_path", projects_path %>
      
  </body>
</html>
